*.iml
.gradle
/local.properties
/gradle.properties
/likechat.iml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/likechat/build
/likechat/.gradle
/likechat/.idea
/likechat/local.properties
/likechat/app/*.apk
/likechat/uikit/build
