*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/likechat/build
/likechat/.idea/libraries/support_v4_23_1_1.xml
/likechat/.idea/libraries/support_annotations_23_1_1.xml
/likechat/.idea/libraries/appcompat_v7_23_1_1.xml
